/Java_Doctor/healthi/.gradle/
/Java_Doctor/healthi/build/
/Java_Pharmacy/mavenproject1/mavenproject1/target/
/Java_Pharmacy/mavenproject1/mavenproject1/js/target/
/Java_Pharmacy/mavenproject1/mavenproject1/client/target/
/Java_Pharmacy/mavenproject1/mavenproject1/client-web/target/
/Java_Pharmacy/gradleproject1/.gradle/
/Java_Pharmacy/Healthi2/target/
/Java_Pharmacy/Healthi2/nbproject/
/Java_Doctor/Healthi1/Healthi1/target/
/Java_Doctor/Healthi1/Healthi1/nbproject/
