<html>
    <head>
        <link rel="stylesheet" href="/wwwroot/css/cite.css">
    </head>

<div class="text-center">
    <input type="text" placeholder="User Identification Number">
    <input type="password" placeholder="Password">
    <button>Submit<button>
</div>
</html>
